section.app-description {
    background: url("../assets/background-img-1.png") fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 93vh;
    display: flex;
    justify-items: center;
    align-items: center;
    padding-top: 60px;
}

.app-description-text {
    padding: 10px 20px;
    margin: 0 60px;
    background: $light-shade-rgba;

    p.welcome-text{
        font-weight: 700;
    }

    p {
        @include body-font(1.8rem);
        font-weight: 400;
        margin-bottom: 10px;
        line-height: 1.5;
    }

    .example {
        font-style: italic;
    }
    
    .choose {
        font-weight: 700;
    }
}

