// Section Displayed None ----
section.character-section {
    height: 78vh;
    justify-content: center;
    align-items: center;
    display: none;
}
// ---------------------------

.character-container {
    @include body-font(2rem);
    line-height: 1.5;
    display: flex;
    align-items: center;
    width: 100%;
}
.character-img {
    max-width: 50%;
    img {
        width: 100%;
    }
}

.character-info {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    .character-text h2 {
        @include title-font;
    }
}

.bio {
    margin: 30px 0;
}

.buttons-series-events {
    display: flex;
    justify-content: center;

}

.buttons-series-events button {
    border: none;
    margin-right: 20px;
    background: $light-shade;
    padding: 15px 25px;
    border-radius: 10px;
    color: $main-color;
    @include body-font(1.6rem);
    // @include body-font (1.8rem);
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 1px 1px $accent-color,
                2px 2px $accent-color,
                3px 3px $accent-color,
                4px 4px  10px rgba(150, 150, 150, 0.5);
    transition: background-color 0.3s ease-out;
    &:hover {
        background-color: $accent-color;
        color: $light-shade;
    }
    &:active {
        position: relative;
        bottom: -4px;
        left: 4px;
        box-shadow: 0 0 8px $accent-color;    
    }
}

.button-active {
    position: relative;
    bottom: -4px;
    left: 4px;
    box-shadow: 0 0 8px $accent-color; 
    background-color: $accent-color;
    color: $light-shade;
}

