.series-container, .events-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.single-series-container, .single-event-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    img {
        max-width: 100%;
        display: block;
    }
}




