// GLOBAL STYLES

// html {
//     font-size: 62.5%;

// }

// .wrapper {
//     max-width: 1280px;
//     width: 80%;
//     border: 2px solid tomato;
//     margin: 0 auto;
// }

// body {
//     background: tomato;
// }