header {
    background: $accent-color;
    height: 100px;
    position: fixed;
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    padding: 11px 0;
}

.svg-logo {
    margin-right: 10px;
}


.logo h1 {
    @include logo-font(2rem);
    margin: 0;
    color: $light-shade;
}

// search-bar input styles ---------------------

.search {
    display: flex;
}

.hero {
    @include body-font(1.6rem);
    font-weight: 500;
    border: none;
    padding: 10px 40px;
    outline-offset: -3px;
    box-shadow: 0 0 8px $light-shade;
}

.submit {
    border: none;
    padding: 10px 40px;
    outline-offset: -3px;
    box-shadow: 0 0 8px $light-shade;
    background: $main-color;
    color: $light-shade;
    text-transform: uppercase;
    &:hover {
        background-color: $main-color-rgba;
    }
}

.hero::placeholder, .text-area::placeholder { 
    color: $main-color-rgba;
    opacity: 0.5; 
    font-weight: 400i;
    font-style: italic;
    font-size: 1.6rem;
    text-align: center;
}

.hidden-label:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


