@media(max-width: 975px){

    .wrapper{
        width: 90%;
    }

    .character-container{
        font-size: 1.8rem;
    }

    .single-series-container,
    .single-event-container{
        font-size: 1.5rem;
        line-height: 1.3;
    }
}

@media(max-width: 850px){

    input#hero.hero{
        padding: 10px 25px;
    }
    .character-container{
        font-size: 1.6rem;
    }

    .section-title{
        text-align: center;
    }

    .single-series-container, 
    .single-event-container{
        max-width: 31%;
    }
}

@media(max-width: 750px){

    header{
        height: 22vh;
    }

    .header-content{
        flex-direction: column;
    }

    .app-description{
        background-position: top;
    }

    .app-description-text{
        margin: 30px 0 0 0;
    }
    
    .character-container{
        flex-direction: column;
    }
    
    .character-img{
        width: 45%;
        margin: 40px 0 0 30px;
    }

    .character-text{
        text-align: center;
        margin-top: 10px;
    }

    .character-info{
        max-width: 100%;

        .bio{
            margin: 10px 0 20px 0;
        }
    }

    .buttons-series-events button{
        padding: 10px 40px;
    }

    .single-series-container, 
    .single-event-container{
        max-width: 47%;

        h2{
            text-align: center;
        }
    }
}

@media(max-width: 650px){

    .character-img{
        width: 60%;
    }
}

@media(max-width: 550px){

    .app-description-text{
        margin: 50px 0 0 0;
        
        p{
            font-size: 1.6rem;
        }
    }
}

@media(max-width: 460px){

    .app-description-text{

        p.welcome-text{
            text-align: center;
        }

        p{
            font-size: 1.5rem;
        }
    }    
    .character-img{
        width: 100%;
    }

    .bio{
        font-size: 1.5rem;
    }

    input#hero.hero{
        padding: 10px 5px;
    }

     .buttons-series-events button{
        padding: 10px 30px;
    }

    .single-series-container, 
    .single-event-container{
        max-width: 100%;
        
        h2{
            font-size: 2.3rem;
        }
    }
}

@media(max-width: 400px){

    header{
        height: 25vh;
    }

    .app-description-text{
        margin: 100px 0 0 0;
    }

    .search{
        flex-direction: column;
        margin: 0;
    }

    input#hero.hero{
        padding: 10px 20px;
    }

    .character-info .bio{
        font-size: 1.4rem;
        padding: 10px 0 5px 0;
    }

    .character-img{

    max-width: 60%;
    margin: 80px 0 0 30px;
    }
}

@media(max-width: 330px){

    .credits p{
        font-size: 1rem;
    }
}