$test-color: tomato;
$main-color: #2a2a2a;
$main-color-rgba: rgba(42, 42, 42, 1);
$accent-color: #c51f27;
$accent-color-rgba: rgba(197,31,39,1);
// $light-shade: #F0EFED;
$light-shade: #fcfcfc;
$light-shade-rgba: rgba(252,252,252,0.7);
