article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto; }

main {
  background: #fcfcfc;
  padding-top: 100px;
  display: none; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  color: #2a2a2a;
  line-height: 1.2;
  letter-spacing: 1px; }

img {
  display: block; }

.show {
  display: block; }

header {
  background: #c51f27;
  height: 15vh;
  position: fixed;
  width: 100%; }

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 11px 0; }

.svg-logo {
  margin-right: 10px; }

.logo h1 {
  font-family: "Hammersmith One", sans-serif;
  font-size: 20px;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #2a2a2a;
  text-transform: uppercase;
  line-height: 1.3;
  margin: 0;
  color: #fcfcfc; }

.search {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.hero {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  color: #2a2a2a;
  line-height: 1.2;
  letter-spacing: 1px;
  font-weight: 500;
  border: none;
  padding: 10px 40px;
  outline-offset: -3px;
  -webkit-box-shadow: 0 0 8px #fcfcfc;
  box-shadow: 0 0 8px #fcfcfc; }

.submit {
  border: none;
  padding: 10px 40px;
  outline-offset: -3px;
  -webkit-box-shadow: 0 0 8px #fcfcfc;
  box-shadow: 0 0 8px #fcfcfc;
  background: #2a2a2a;
  color: #fcfcfc;
  text-transform: uppercase; }
  .submit:hover {
    background-color: rgba(42, 42, 42, 0.8); }

.hero::-webkit-input-placeholder, .text-area::-webkit-input-placeholder {
  color: rgba(42, 42, 42, 0.8);
  opacity: 0.5;
  font-weight: 400i;
  font-style: italic;
  font-size: 1.6rem;
  text-align: center; }

.hero:-ms-input-placeholder, .text-area:-ms-input-placeholder {
  color: rgba(42, 42, 42, 0.8);
  opacity: 0.5;
  font-weight: 400i;
  font-style: italic;
  font-size: 1.6rem;
  text-align: center; }

.hero::-ms-input-placeholder, .text-area::-ms-input-placeholder {
  color: rgba(42, 42, 42, 0.8);
  opacity: 0.5;
  font-weight: 400i;
  font-style: italic;
  font-size: 1.6rem;
  text-align: center; }

.hero::placeholder, .text-area::placeholder {
  color: rgba(42, 42, 42, 0.8);
  opacity: 0.5;
  font-weight: 400i;
  font-style: italic;
  font-size: 1.6rem;
  text-align: center; }

.hidden-label:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

section.app-description {
  background: url("../assets/background-img-1.png") fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 93vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 60px; }

.app-description-text {
  padding: 10px 20px;
  margin: 0 60px;
  background: rgba(252, 252, 252, 0.8); }
  .app-description-text p.welcome-text {
    font-weight: 700; }
  .app-description-text p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
    color: #2a2a2a;
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 1.5; }
  .app-description-text .example {
    font-style: italic; }
  .app-description-text .choose {
    font-weight: 700; }

section.character-section {
  height: 80vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none; }

.character-container {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-size: 2rem;
  color: #2a2a2a;
  line-height: 1.2;
  letter-spacing: 1px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.character-img {
  max-width: 50%; }
  .character-img img {
    width: 100%; }

.character-info {
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 30px; }
  .character-info .character-text h2 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 4rem;
    color: #2a2a2a;
    margin: 0; }

.bio {
  margin: 30px 0; }

.buttons-series-events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.buttons-series-events button {
  border: none;
  margin-right: 20px;
  background: #fcfcfc;
  padding: 15px 25px;
  border-radius: 10px;
  color: #2a2a2a;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  color: #2a2a2a;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-box-shadow: 1px 1px #c51f27, 2px 2px #c51f27, 3px 3px #c51f27, 4px 4px 10px rgba(150, 150, 150, 0.5);
  box-shadow: 1px 1px #c51f27, 2px 2px #c51f27, 3px 3px #c51f27, 4px 4px 10px rgba(150, 150, 150, 0.5);
  -webkit-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out; }
  .buttons-series-events button:hover {
    background-color: #c51f27;
    color: #fcfcfc; }
  .buttons-series-events button:active {
    position: relative;
    bottom: -4px;
    left: 4px;
    -webkit-box-shadow: 0 0 8px #c51f27;
    box-shadow: 0 0 8px #c51f27; }

.button-active {
  position: relative;
  bottom: -4px;
  left: 4px;
  -webkit-box-shadow: 0 0 8px #c51f27;
  box-shadow: 0 0 8px #c51f27;
  background-color: #c51f27;
  color: #fcfcfc; }

.series-section {
  display: none;
  padding: 100px 0 50px 0; }

.event-section {
  display: none;
  padding: 100px 0 50px 0; }

.series-container,
.events-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 30px; }

.single-series-container,
.single-event-container {
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 23%;
  outline-offset: -1px;
  -webkit-box-shadow: 0 0 5px rgba(150, 150, 150, 0.5);
  box-shadow: 0 0 5px rgba(150, 150, 150, 0.5);
  border-radius: 8px;
  margin: 2% 2% 0 0;
  padding: 0 5px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  cursor: pointer; }
  .single-series-container:nth-of-type(4n),
  .single-event-container:nth-of-type(4n) {
    margin-right: 0; }
  .single-series-container img,
  .single-event-container img {
    max-width: 100%;
    display: block; }
  .single-series-container:hover,
  .single-event-container:hover {
    background: rgba(197, 31, 39, 0.3); }

.single-series-container h2, .single-event-container h2 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 1.8rem;
  color: #2a2a2a;
  margin: 0;
  padding: 15px 0; }

.section-title {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 4rem;
  color: #2a2a2a;
  margin: 0; }

.title {
  margin-top: 15px; }

.button-to-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.to-top {
  margin-top: 30px;
  border: none;
  background: none;
  font-size: 6rem;
  color: rgba(197, 31, 39, 0.3);
  -webkit-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s; }
  .to-top:hover {
    color: #c51f27; }

footer {
  background: #2a2a2a;
  height: 7vh; }

.credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.credits p {
  margin: 0;
  color: rgba(252, 252, 252, 0.6);
  font-size: 1.2rem;
  margin: 5px; }

.footer-accreditation a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  color: #2a2a2a;
  line-height: 1.2;
  letter-spacing: 1px;
  color: rgba(223, 144, 144, 0.6);
  font-weight: 700;
  -webkit-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s; }
  .footer-accreditation a:hover {
    color: #c51f27; }

@media (max-width: 975px) {
  .wrapper {
    width: 90%; }
  .character-container {
    font-size: 1.8rem; }
  .single-series-container,
  .single-event-container {
    font-size: 1.5rem;
    line-height: 1.3; } }

@media (max-width: 850px) {
  input#hero.hero {
    padding: 10px 25px; }
  .character-container {
    font-size: 1.6rem; }
  .section-title {
    text-align: center; }
  .single-series-container,
  .single-event-container {
    max-width: 31%; } }

@media (max-width: 750px) {
  header {
    height: 22vh; }
  .header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .app-description {
    background-position: top; }
  .app-description-text {
    margin: 30px 0 0 0; }
  .character-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .character-img {
    width: 40%;
    margin: 55px 0 0 30px; }
  .character-text {
    text-align: center;
    margin-top: 10px; }
  .character-info {
    max-width: 100%; }
    .character-info .bio {
      margin: 10px 0 20px 0; }
  .buttons-series-events button {
    padding: 10px 40px; }
  .single-series-container,
  .single-event-container {
    max-width: 47%; }
    .single-series-container h2,
    .single-event-container h2 {
      text-align: center; } }

@media (max-width: 650px) {
  .character-img {
    width: 100%; } }

@media (max-width: 550px) {
  .app-description-text {
    margin: 50px 0 0 0; }
    .app-description-text p {
      font-size: 1.6rem; } }

@media (max-width: 460px) {
  .app-description-text p.welcome-text {
    text-align: center; }
  .app-description-text p {
    font-size: 1.5rem; }
  .character-img {
    width: 100%; }
  .bio {
    font-size: 1.5rem; }
  input#hero.hero {
    padding: 10px 5px; }
  .buttons-series-events button {
    padding: 10px 30px; }
  .single-series-container,
  .single-event-container {
    max-width: 100%; }
    .single-series-container h2,
    .single-event-container h2 {
      font-size: 2.3rem; } }

@media (max-width: 400px) {
  header {
    height: 25vh; }
  .app-description-text {
    margin: 100px 0 0 0; }
  .search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0; }
  input#hero.hero {
    padding: 10px 20px; }
  .character-info .bio {
    font-size: 1.4rem;
    margin: 10px 0 10px 0; }
  .character-img {
    max-width: 60%;
    margin: 80px 0 0 30px; } }

@media (max-width: 350px) {
  .buttons-series-events button {
    padding: 10px 20px; }
  .credits p {
    font-size: 1rem; } }
