article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto; }

main {
  background: #fcfcfc; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #2a2a2a;
  line-height: 1.2;
  letter-spacing: 1px; }

header {
  background: #c51f27;
  height: 15vh;
  position: fixed;
  width: 100%; }

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 10px 0; }

.svg-logo {
  margin-right: 10px; }

.logo h1 {
  font-family: "Hammersmith One", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #2a2a2a;
  text-transform: uppercase;
  line-height: 1.3;
  margin: 0;
  color: #fcfcfc; }

.search {
  margin: 10px; }

section.app-description {
  background: url("../assets/background-2.png") fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 60px; }

.app-description-text {
  padding: 10px 20px;
  margin: 0 60px;
  background: rgba(252, 252, 252, 0.8); }
  .app-description-text p {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    color: #2a2a2a;
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 10px; }

.character-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0; }

.character-img {
  max-width: 50%; }
  .character-img img {
    width: 100%; }

.character-info {
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.buttons-series-events button {
  border: none;
  background: #c51f27;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  -webkit-box-shadow: 4px 4px 0px #2a2a2a, 3px 3px 0px #2a2a2a, 2px 2px 0px #2a2a2a, 1px 1px 0px #2a2a2a;
  box-shadow: 4px 4px 0px #2a2a2a, 3px 3px 0px #2a2a2a, 2px 2px 0px #2a2a2a, 1px 1px 0px #2a2a2a; }
  .buttons-series-events button:active {
    position: relative;
    bottom: -4px;
    right: -4px;
    -webkit-box-shadow: 0 0 8px #fcfcfc;
    box-shadow: 0 0 8px #fcfcfc; }

.series-container, .events-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.single-series-container, .single-event-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 25%; }
  .single-series-container img, .single-event-container img {
    max-width: 100%;
    display: block; }

.single-series-container h2, .single-event-container h2 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 1.6rem;
  color: #2a2a2a;
  margin: 0; }

.button-to-top button {
  border: none;
  background: #c51f27;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  -webkit-box-shadow: 4px 4px 0px #2a2a2a, 3px 3px 0px #2a2a2a, 2px 2px 0px #2a2a2a, 1px 1px 0px #2a2a2a;
  box-shadow: 4px 4px 0px #2a2a2a, 3px 3px 0px #2a2a2a, 2px 2px 0px #2a2a2a, 1px 1px 0px #2a2a2a; }
  .button-to-top button:active {
    position: relative;
    bottom: -4px;
    right: -4px;
    -webkit-box-shadow: 0 0 8px #fcfcfc;
    box-shadow: 0 0 8px #fcfcfc; }

footer {
  background: #2a2a2a; }

footer p {
  color: #fcfcfc; }

.credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
